<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <a href="#">
        <h3>Jestem Fakturomatem</h3>
      </a>
      <hr>
      <div class="col-xs-2">
        <a href="template">
        <button class="btn btn-success">Nowa Faktura</button></a>
      </div>
      <div class="col-xs-2 float-left">
        <a href="list">
        <button class="btn btn-primary">Lista Faktur</button></a>
      </div>
    </div>

    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <hr>

</div>
