<form>

  <div class="col-xs-5">
    <label>Dane sprzedawcy</label>
    <textarea rows="5" class="form-control"></textarea>
  </div>

  <div class="col-xs-5">
    <label>Dane nabywcy</label>
    <textarea rows="5" class="form-control"></textarea>
  </div>

  <div class="col-xs-6">
    <hr>
    <label>Sposób zapłaty</label>
    <div>

      <div>
        <label>Gotówka</label>
        <input type="checkbox">
      </div>

      <div>
        <label>Przelew</label>
        <input type="checkbox">
      </div>

    </div>
  </div>

  <div class="col-xs-12">
    <hr>
    <p>Lista produktów</p>
    <div>Produkty</div>
    <button class="btn btn-primary">Dodaj produkt</button>
  </div>

  <div class="col-xs-10">Suma</div>
  <div class="col-xs-12">
    <hr>
    <button class="btn btn-info" value="submit">Generuj fakturę</button>

  </div>

</form>
